In [43]:
import pandas as pd 
df = pd.read_excel(r'C:\Users\GANDHI\Desktop\WD.xlsx')

In [44]:
df

          EST  Temperature  Humidity     Events  WindSpeed MPH
0  2020-01-01           37        37        NaN           15.0
1  2020-01-02           38        33       Snow           16.0
2  2020-01-03           38        48        NaN            9.0
3  2020-01-04           38        46       Rain            NaN
4  2020-01-05           39        40        NaN           10.0
5  2020-01-06           30        40        NaN            9.0
6  2020-01-07           40        43       Rain           15.0
7  2020-01-08           39        35  Frog Snow           10.0
8  2020-01-09           32        38       Rain           14.0
9  2020-01-10           40        34        NaN            NaN
10 2020-01-11           30        47        NaN           14.0
11 2020-01-12           25        52       Rain           10.0
12 2020-01-13           26        33        NaN           17.0
13 2020-01-14           28        35       Rain           15.0
14 2020-01-15           36        35        NaN           15.0
15 2020-01-16           26        46       Snow           14.0
16 2020-01-17           34        32  Frog-Snow            NaN
17 2020-01-18           32        44       Rain           17.0
18 2020-01-19           33        40       Rain           16.0
19 2020-01-20           28        34        NaN           15.0
20 2020-01-21           33        53        NaN           11.0
21 2020-01-22           31        47       Rain           15.0
22 2020-01-23           33        35       Snow            8.0
23 2020-01-24           33        31        NaN            8.0
24 2020-01-25           39        55        NaN            8.0
25 2020-01-26           37        46       Rain            NaN
26 2020-01-27           29        49        NaN           17.0
27 2020-01-28           32        42       Rain            9.0
28 2020-01-29           39        53        NaN           14.0
29 2020-01-30           27        45        NaN           11.0
30 2020-01-31           28        36        NaN           11.0

In [45]:
df['Temperature'].max()

40

In [46]:
df['Temperature'].min()

25

In [47]:
df['EST'][df['Events']=='Rain']

3    2020-01-04
6    2020-01-07
8    2020-01-09
11   2020-01-12
13   2020-01-14
17   2020-01-18
18   2020-01-19
21   2020-01-22
25   2020-01-26
27   2020-01-28
Name: EST, dtype: datetime64[ns]

In [48]:
df.fillna(0, inplace=True)
df['WindSpeed MPH'].mean()

11.064516129032258

In [49]:
b

        Date  Temperature Events  WindSpeed MPH
0 2020-05-01           33   Rain             13
1 2020-05-02           37   Snow              8
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10
5 2020-05-06           36   Snow              8
6 2020-05-07           30   Rain             10

In [50]:
import pandas as pd 
WD1 = {'Date':['2020-05-01','2020-05-02','2020-05-03','2020-05-04', 
               '2020-05-05', '2020-05-06','2020-05-07'],
               'Temperature': [33,37,34,35,33,36,30],
               'Events':['Rain','Snow','Sunny','Rain','Sunny','Snow', 'Rain'],
               'WindSpeed MPH':[13,8,12,9,10,8,10]
               }
df

        Date  Temperature Events  WindSpeed MPH
0 2020-05-01           33   Rain             13
1 2020-05-02           37   Snow              8
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10
5 2020-05-06           36   Snow              8
6 2020-05-07           30   Rain             10

In [51]:
rows, columns = df.shape

In [52]:
rows

7

In [53]:
columns

4

In [54]:
df.head()

        Date  Temperature Events  WindSpeed MPH
0 2020-05-01           33   Rain             13
1 2020-05-02           37   Snow              8
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10

In [55]:
df.head(3)

        Date  Temperature Events  WindSpeed MPH
0 2020-05-01           33   Rain             13
1 2020-05-02           37   Snow              8
2 2020-05-03           34  Sunny             12

In [56]:
df.tail()

        Date  Temperature Events  WindSpeed MPH
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10
5 2020-05-06           36   Snow              8
6 2020-05-07           30   Rain             10

In [57]:
df.tail(2)

        Date  Temperature Events  WindSpeed MPH
5 2020-05-06           36   Snow              8
6 2020-05-07           30   Rain             10

In [58]:
df[2:5]

        Date  Temperature Events  WindSpeed MPH
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10

In [59]:
df[:]

        Date  Temperature Events  WindSpeed MPH
0 2020-05-01           33   Rain             13
1 2020-05-02           37   Snow              8
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10
5 2020-05-06           36   Snow              8
6 2020-05-07           30   Rain             10

In [60]:
df.columns

Index(['Date', 'Temperature', 'Events', 'WindSpeed MPH'], dtype='object')

In [61]:
df.Events

0     Rain
1     Snow
2    Sunny
3     Rain
4    Sunny
5     Snow
6     Rain
Name: Events, dtype: object

In [62]:
df['Events']

0     Rain
1     Snow
2    Sunny
3     Rain
4    Sunny
5     Snow
6     Rain
Name: Events, dtype: object

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
Date             7 non-null datetime64[ns]
Temperature      7 non-null int64
Events           7 non-null object
WindSpeed MPH    7 non-null int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 304.0+ bytes

In [64]:
df.dtypes

Date             datetime64[ns]
Temperature               int64
Events                   object
WindSpeed MPH             int64
dtype: object

In [65]:
df[['Events','Date']]

  Events       Date
0   Rain 2020-05-01
1   Snow 2020-05-02
2  Sunny 2020-05-03
3   Rain 2020-05-04
4  Sunny 2020-05-05
5   Snow 2020-05-06
6   Rain 2020-05-07

In [66]:
df['WindSpeed MPH'].max()

13

In [67]:
df['WindSpeed MPH'].min()

8

In [68]:
df['WindSpeed MPH'].std()

1.9148542155126762

In [69]:
df.describe()

       Temperature  WindSpeed MPH
count     7.000000       7.000000
mean     34.000000      10.000000
std       2.309401       1.914854
min      30.000000       8.000000
25%      33.000000       8.500000
50%      34.000000      10.000000
75%      35.500000      11.000000
max      37.000000      13.000000

In [70]:
df[df.Temperature >= 35]

        Date  Temperature Events  WindSpeed MPH
1 2020-05-02           37   Snow              8
3 2020-05-04           35   Rain              9
5 2020-05-06           36   Snow              8

In [71]:
df[df.Temperature ==df['Temperature'].max()]

        Date  Temperature Events  WindSpeed MPH
1 2020-05-02           37   Snow              8

In [72]:
df['Date'][df.Temperature ==df['Temperature'].max()]

1   2020-05-02
Name: Date, dtype: datetime64[ns]

In [73]:
df[['Date','Temperature']][df.Temperature ==df['Temperature'].max()]

        Date  Temperature
1 2020-05-02           37

In [74]:
df

        Date  Temperature Events  WindSpeed MPH
0 2020-05-01           33   Rain             13
1 2020-05-02           37   Snow              8
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10
5 2020-05-06           36   Snow              8
6 2020-05-07           30   Rain             10

In [75]:
df.set_index('Date',inplace = True)

In [76]:
df

            Temperature Events  WindSpeed MPH
Date
2020-05-01           33   Rain             13
2020-05-02           37   Snow              8
2020-05-03           34  Sunny             12
2020-05-04           35   Rain              9
2020-05-05           33  Sunny             10
2020-05-06           36   Snow              8
2020-05-07           30   Rain             10

In [77]:
df.loc['2020-05-04']

Temperature        35
Events           Rain
WindSpeed MPH       9
Name: 2020-05-04 00:00:00, dtype: object

In [78]:
df.reset_index(inplace=True)
df

        Date  Temperature Events  WindSpeed MPH
0 2020-05-01           33   Rain             13
1 2020-05-02           37   Snow              8
2 2020-05-03           34  Sunny             12
3 2020-05-04           35   Rain              9
4 2020-05-05           33  Sunny             10
5 2020-05-06           36   Snow              8
6 2020-05-07           30   Rain             10

In [79]:
df.set_index('Events', inplace=True)
df

             Date  Temperature  WindSpeed MPH
Events
Rain   2020-05-01           33             13
Snow   2020-05-02           37              8
Sunny  2020-05-03           34             12
Rain   2020-05-04           35              9
Sunny  2020-05-05           33             10
Snow   2020-05-06           36              8
Rain   2020-05-07           30             10

In [80]:
df.loc['Rain']

             Date  Temperature  WindSpeed MPH
Events
Rain   2020-05-01           33             13
Rain   2020-05-04           35              9
Rain   2020-05-07           30             10

In [81]:
GITAM = [('2020-05-01',33, 'Rain', 13),
      ('2020-05-02',37, 'Snow', 8),
      ('2020-05-03',34,'Sunny',12)]
df=pd.DataFrame(GITAM, columns =['Date', 'Temperature', 'Events', 'WindSpeed MPH']) 
df

         Date  Temperature Events  WindSpeed MPH
0  2020-05-01           33   Rain             13
1  2020-05-02           37   Snow              8
2  2020-05-03           34  Sunny             12

In [82]:
GITAM = [{'Date':'2020-05-01', 'Temperature':33, 'Events':'Rain', 'WindSpeed MPH':13},
        {'Date':'2020-05-02', 'Temperature':37, 'Events':'Snow', 'WindSpeed MPH':8},
        {'Date':'2020-05-03', 'Temperature':34, 'Events':'Sunny', 'WindSpeed MPH':12}]
df = pd.DataFrame(GITAM)
df

         Date Events  Temperature  WindSpeed MPH
0  2020-05-01   Rain           33             13
1  2020-05-02   Snow           37              8
2  2020-05-03  Sunny           34             12